<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Aravind Kumar</h1>

<h2>Python Developer</h2>

<p>
Computer Science Student interested in Python, Flask,
Machine Learning, Data Analysis, and Software Development.
</p>

<h3>Skills</h3>

<ul>
    <li>Python</li>
    <li>Flask</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Git & GitHub</li>
</ul>

<a href="/contact">Contact Me</a>

</body>
</html>